<div class="top-logo">
<h1>LairBnb</h1>
<h2>"Your Evil Vacation HeadQuarters Rental Service"</h2>
</div>

<div class="container">
  <div class="main-content">
    <span><img src="http://i32.tinypic.com/2jcauli.jpg"></span>
    <span><img src="http://i29.tinypic.com/23ly0hs.jpg"></span>
    <span><img src="http://i32.tinypic.com/1073qpx.jpg"></span>

  </div>
   <%= link_to "Add a Listing", new_listing_path, id: "new_listing", remote: true %>



</div>

<div id="all_listing">
  <ul>
    <% Listing.all.each do |listing| %>
    <li><%= listing.name %><br><%= listing.content %><br><%= image_tag listing.avatar(:thumb) %></li>
    <% end %>
  </ul>
</div>
